body, html {
	font-family: helvetica, verdana, arial;
	margin: 0;
	height: 100%;
}

.heading {
	font-size: 45px;
	font-weight: bolder;
	background: rgba(0,0,0,.2);
	.box-shadow(inset 0 0 3px rgba(0,0,0,.9));
}

// generics
.center {
	text-align: center
}

hr {
	height: 0;
	border: none;
	margin: 0;
	padding: 0;
	background: black;
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.main {
	position: relative;
	height: 100%;
	background: @color4;
	overflow-x: hidden;
}

.content {
	float: left;
	width: 100%;
	position: relative;
	.navbar {
		.vertical-gradient(@color4, darken(@color4, 10%));
		.box-shadow(0 0 3px rgba(0,0,0,.9));
		.btn {
			.box-shadow(inset 0 0 2px rgba(255,255,255,.8));
			.vertical-gradient(darken(@color4, 20%), darken(@color4, 30%));
			border: 1px solid darken(@color4, 60%);
			border-top: none;
			border-bottom: none;
			text-shadow: 0px 0px 2px rgba(0,0,0,.5);
			font-weight: bold;
			.border-radius(0);
			&:hover {
				.box-shadow(inset 0 0 5px rgba(255,255,255,.8));
				color: #fff2b9;
				text-decoration: underline;
			}
		}
	}
}

.blocker {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	display: none;
}

.main-text {
	width: 50%;
	margin: 0 auto auto;
}

// hide inputs
:not(label) input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	/* Opera stills show an outline if not hidden */
	visibility: hidden;
	display: none;
}