
@transforms: translate3d(50%, -100px, 0) rotateX(180deg) scale(.5);
@width: 500px;
@height: 376px;
@headingHeight: 50px;

.modal {
	.heading {
		text-shadow: -1px -1px 2px rgba(0,0,0,.9);
		.vertical-gradient(@color4, darken(@color4, 10%));
		.box-shadow(none);
		font-size: 30px;
		text-shadow: 1px 1px 1px rgba(255,255,255,.9);
		color: rgba(0,0,0,.6);
		text-transform: uppercase;
		border-bottom: 2px solid red;
	}

	.transition(all .4s ease-out);

	// set transform styles
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	.transform(@transforms);

	.box-shadow(5px 5px 2px rgba(0,0,0,.3));
	.border-radius(0 0 5px 5px);

	top: 0;
	width: @width;
	height: @height;
	overflow: hidden;
	margin-left: @width / 2;
	border: 1px solid darken(@color4, 50%);
	opacity: 0;
	color: white;
	position: absolute;
	visibility: hidden;
	z-index: 200;
	.vertical-gradient(@color4, darken(@color4, 10%));


	.modal-body {
		text-align: left;
		padding: 8px;
		color: #1f1f1f;
		overflow-y: auto;
		height: @height - @headingHeight;
		padding-bottom: 8px;
	}
	input:checked + & {
		opacity: 1;
		visibility: visible;
		.transform(translate3d(50%, 50%, 0));
	}

	input:checked + & + .blocker {
		display: block;
	}
}
