// quick hacks.
@widgetSizeX: 300px;
//@widgetSizeY: 200px;
@widgetPadding: 8px;

// needs it 3 times for IE9
@borderRadiusOne: 2px;
@borderRadius: @borderRadiusOne @borderRadiusOne @borderRadiusOne @borderRadiusOne;

@sideMarginRight: 10px;
@sideMarginLeft: 0;

aside {
	position: absolute;
	height: 100%;
	width: @widgetSizeX;
	background: @color1;
	color: @color3;
	margin-right: @widgetPadding;
	text-shadow: -1px -1px 2px rgba(0,0,0,.9);
	z-index: 1000;

	.box-sizing(border-box);
	.transition(all .2s ease-in 0s);
	.vertical-gradient(@color2, @color1);


	&.aside-left {
		transform: translate3d(-@widgetSizeX + @sideMarginLeft, 0, 0);

		border-right: 1px solid rgb(0,0,0);
		box-shadow: 2px 0 2px rgba(0,0,0,.4), inset 0 -5px 5px rgba(0,0,0,.9);

		&:hover, input:checked + & {
			transform: translate3d(-@sideMarginLeft,0,0);
			box-shadow: 2px 0 10px rgba(0,0,0,.4), inset 0 -5px 5px rgba(0,0,0,.9);
		}

	}

	&.aside-right {
		right: 0px;
		transform: translate3d(@widgetSizeX + @sideMarginRight, 0, 0);

		border-left: 1px solid rgb(0,0,0);
		box-shadow: -2px 0 2px rgba(0,0,0,.4), inset 0 -5px 5px rgba(0,0,0,.9);

		&:hover, input:checked + & {
			transform: translate3d(@sideMarginRight, 0, 0);
			box-shadow: -2px 0 10px rgba(0,0,0,.4), inset 0 -5px 5px rgba(0,0,0,.9);
		}
	}
}




